*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-us{
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    max-width: 100%;
    margin: 20px 30px;
}
.info{
    font-size: 1.5rem;
    max-width: 50%;
}

.image-info img{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    object-fit: cover;
}
